 
        <div class="card shadow my-3 bold">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-dark">$ 100.000</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <button type="button" class="btn btn-outline-info">+ Periodo</button>
            </div>
          </div>
          <div class="card-body ">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text amarillo-f rounded" id="inputGroup-sizing-default">Precio Costo</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text amarillo-f rounded" id="inputGroup-sizing-default">precio ideal</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text amarillo-f rounded" id="inputGroup-sizing-default">precio ideal</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="col">
                    <div class="form-group col">
                      <label>Desde: </label>
                      <input type="date" class="form-control">
                      </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="col">
                    <div class="form-group col">
                      <label>Hasta: </label>
                      <input type="date" class="form-control">
                      </div>
                  </div>
                </div>
                <div class="col-md-2">
                                      <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary bt-largo rojo" data-toggle="modal" data-target="#exampleModal">
                    x
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de eliminar este periodo?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ¡Los cambios se haran permanentemente!
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary gris" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-primary rojo">eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
  
  
  
  
  
  

