
      <div class="card f-gris">
        <div class="card-body">
          <form action="?">
            <div class="form-group negritas negro">
              <div class="form-group negritas negro">
                <label for="formGroupExampleInput" class="miclase">Nombre de la Habitación</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ejemplo: Nupcial">
              </div>
              <div>
               <label for="formGroupExampleInput" class="miclase">Cantidad de habitaciones</label>
                <select class="custom-select custom-select-sm">
                  <option selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="4">5</option>
                </select>
            </div>
              <div class="form-group negritas negro">
                <label for="formGroupExampleInput2" class="miclase">Tamaño de la Habitación</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ejemplo: 10m x 30m">
              </div>
              <label for="formGroupExampleInput" class="miclase">Baños Completos</label>
              <select class="custom-select custom-select-sm">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
              <label for="formGroupExampleInput" class="miclase">Medios Baños</label>
              <select class="custom-select custom-select-sm">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
              <label for="formGroupExampleInput" class="miclase">Numero de camas</label>
              <select class="custom-select custom-select-sm">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
              </select>
              <label for="formGroupExampleInput" class="miclase">Numero de huéspedes</label>
              <select class="custom-select custom-select-sm">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5+</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      
      <div class="card m-4 f-gris">
        <a href="#" class="btn btn-success btn-icon-split bold">
          <span class="text">Guardar Cambios</span>
        </a>  
      </div>        
  
