 
        <div class="card shadow my-3 bold">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-dark">Precios</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <button type="button" class="btn btn-outline-info">+ Periodo</button>
            </div>
          </div>
          <div class="card-body">

            <table class="table">
              <thead>
                <tr class="text-center">
                  <th><div class="amarillo-f btn btn-block rounded">Costo</div></th>
                  <th><div class="amarillo-f btn btn-block rounded">Mínimo</div></th>
                  <th><div class="amarillo-f btn btn-block rounded">Ideal</div></th>
                  <th><div class="amarillo-f btn btn-block rounded">Desde</div></th>
                  <th><div class="amarillo-f btn btn-block rounded">Hasta</div></th>
                  <th><button class="btn btn-block btn-info">+</button></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="date" class="form-control"></td>
                  <td><input type="date" class="form-control"></td>
                  <td>
                    <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#exampleModal2">X</button>
                  </td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="text" class="form-control"></td>
                  <td><input type="date" class="form-control"></td>
                  <td><input type="date" class="form-control"></td>
                  <td>
                    <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#exampleModal2">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        
  
  
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">¿Estas seguro de eliminar este periodo?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ¡Los cambios se haran permanentemente!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary gris" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary rojo">eliminar</button>
              </div>  
            </div>
          </div>
        </div>
  
  
  

