
      <hr class="sidebar-divider">

        <div class="card shadow mb-4 bold">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-dark miclase ">Precio Base</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="container">
              <div class="row row-cols-4 ">
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Costo</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Maximo</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">Minimo</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow mb-4 bold">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-dark miclase ">Ajustes de Edad</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="container">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Adultos</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Niños</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Mascotas</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow mb-4 bold">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-dark miclase ">Ajustes de Rango</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="card-body bold h5">
            <div class="container">
              <table class="simple-table responsive-table" id="sorting-example2">
                <thead>
                  <tr>
                    <th scope="col" width="9%">Opciones</th>
                    <th scope="col" width="15%" class="align-center">Decripción</th>
                    <th scope="col" width="15%" class="align-center">Desde</th>
                    <th scope="col" width="15%" class="align-center">Hasta</th>
                    <th scope="col" width="15%" class="align-center">Valor</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td>
                      <div>
                        <button type="button" class="btn btn-success">Guardar</button>
                      </div>
                    </td>
                    <td>
                      <input class="form-control" type="text" placeholder="Decripción">
                    </td>
                    <td>
                      <input class="form-control" type="text" placeholder="Desde">
                    </td>
                    <td>
                      <input class="form-control" type="text" placeholder="Hasta">
                    </td>
                    <td>
                      <input class="form-control" type="text" placeholder="Valor">
                    </td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td><button type="button" class="btn btn-danger">Borrar</button></td>
                    <td>Navidad</td>
                    <td class="align-center">7/12/2020</td>
                    <td class="align-center">7/01/2021</td>
                    <td class="align-right">20%</td>
                  </tr>
                  <tr>
                    <td><button type="button" class="btn btn-danger">Borrar</button></td>
                    <td>Navidad</td>
                    <td class="align-center">7/12/2020</td>
                    <td class="align-center">7/01/2021</td>
                    <td class="align-right">$1500</td>
                  </tr>
                  <tr>
                    <td><button type="button" class="btn btn-danger">Borrar</button></td>
                    <td>Navidad</td>
                    <td class="align-center">7/12/2020</td>
                    <td class="align-center">7/01/2021</td>
                    <td class="align-right">20%</td>
                  </tr>
                </tbody>    
              </table>
            </div>
          </div>
        </div>
  
  
  
  
  
  

