         

<div class="container">
    <div class="row">
      <div class="col">
        <p></p>
        <a class="h4 bold">Inpuestos</a>
        <div class="card mb-4 py-3 f-gris">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <p class="h4 bold">IVA</p>
                        <p class="h4 bold">TASA MUNICIPAL</p>
                      </div>
                      <div class="col">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ingrese IVA">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">$</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ingrese Tasa">
                          </div>
                      </div>
                    </div>
                </div>    
            </div>
        </div>   
      </div>
      <div class="col">
        <p></p>  
        <a class="h4 bold">Otros cargos</a>
        <div class="card mb-4 py-3 f-gris">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                      <div class="col">
                        <p class="h4 bold">Macota por dia</p>
                        <p class="h4 bold">Limpieza por dia</p>
                      </div>
                      <div class="col">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ingrese monto">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">$</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ingrese monto">
                          </div>
                      </div>
                    </div>
                </div>    
            </div>
        </div>  
      </div>
    </div>
</div>    