


<hr class="sidebar-divider">

  <div class="container">
    <div class="row">
      <div class="col">
        
        <div class="card mb-4 py-3 f-gris bold h5 ">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="1">
                    <label class="custom-control-label" for="1"><i class="fas fa-wifi">Wifi</i></label>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="2">
                    <label class="custom-control-label" for="2"><i class="fas fa-wind">Aire Acondicionado</i></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3"><i class="fas fa-tv">TV satelitál</i></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4"><i class="fas fa-toolbox">Cajilla de seguridad</i></label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="5">
                    <label class="custom-control-label" for="5"><i class="fas fa-baby">Corral para niños</i></label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="6">
                    <label class="custom-control-label" for="6"><i class="fas fa-concierge-bell">Room Service</i></label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="7">
                    <label class="custom-control-label" for="7"><i class="fas fa-tint">Agua fría y caliente</i></label>
                </div>
            </div>
          </div>
        

      </div>
      <div class="col">
       
        <div class="card mb-4 py-3 f-gris bold h5 ">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="1">
                    <label class="custom-control-label" for="1"><i class="fas fa-glass-cheers">Restaurante</i></label>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="2">
                    <label class="custom-control-label" for="2"><i class="fas fa-tshirt">Lavandería</i></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3"><i class="fas fa-truck-pickup">Parqueadero privado</i></label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4"><i class="fas fa-city">Terraza con hamacas</i></label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="5">
                    <label class="custom-control-label" for="5"><i class="fas fa-book">Biblioteca</i></label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="6">
                    <label class="custom-control-label" for="6"><i class="fas fa-car">Alquiler de vehículo</i></label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="7">
                    <label class="custom-control-label" for="7"><i class="fas fa-map-signs">Información turística</i></label>
                </div>
            </div>
        </div>
        

      </div>
      <div class="col">
        
        <div class="card mb-4 py-3 f-gris bold h5 ">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="1">
                    <label class="custom-control-label" for="1">Guarda equipaje</label>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="2">
                    <label class="custom-control-label" for="2">Bodega</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3">Salón para conferencias</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4">Salon de belleza</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="5">
                    <label class="custom-control-label" for="5">Tienda de alquiler de trajes</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="6">
                    <label class="custom-control-label" for="6">Alarmas y Cámaras</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="7">
                    <label class="custom-control-label" for="7">Mascotas bienvenidas</label>
                </div>
            </div>
          </div>
        

      </div>
    </div>
  </div>