<hr class="sidebar-divider">

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card mb-4 py-3 f-gris">
            <div class="card-body">
                <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput"><i class="fas fa-hotel">Nombre del Alojamiento</i></label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"><i class="fas fa-id-badge">Tipo de Alojamiento</i></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejemplo: villa, hotel">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2"><i class="fas fa-phone-square">Telefono</i></label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="+00 000 000 0000">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2"><i class="fas fa-map-marked-alt">Dirección</i></label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Dirección">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2"><i class="fas fa-globe">Pagina web</i></label>
                      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="www.ejemplo.com">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"><i class="fas fa-feather-alt">Descripción del Alojamiento</i></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    
                    
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Guardar Cambios</span>
                    </a>  
                  </form>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-4 py-3 f-gris">
            <div class="card-body">
              <!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>

<!--Google Maps-->
            </div>
          </div>
      </div>
    </div>
</div>    