


<hr class="sidebar-divider">

  <div class="container">
    <div class="row">
      <div class="col">
        
        <div class="card mb-4 py-3 f-gris bold h5 ">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="1">
                    <label class="custom-control-label" for="1">Default unchecked</label>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="2">
                    <label class="custom-control-label" for="2">Default unchecked</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="3">
                    <label class="custom-control-label" for="3">Default unchecked</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="4">
                    <label class="custom-control-label" for="4">Default unchecked</label>
                </div>
            </div>
          </div>
        

      </div>
      <div class="col">
       
        <div class="card mb-4 py-3 f-gris bold h5 ">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="5">
                    <label class="custom-control-label" for="5">Default unchecked</label>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="6">
                    <label class="custom-control-label" for="6">Default unchecked</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="7">
                    <label class="custom-control-label" for="7">Default unchecked</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="8">
                    <label class="custom-control-label" for="8">Default unchecked</label>
                </div>
            </div>
          </div>
        

      </div>
      <div class="col">
        
        <div class="card mb-4 py-3 f-gris bold h5 ">
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="9">
                    <label class="custom-control-label" for="9">Default unchecked</label>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="10">
                    <label class="custom-control-label" for="10">Default unchecked</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="11">
                    <label class="custom-control-label" for="11">Default unchecked</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="12">
                    <label class="custom-control-label" for="12">Default unchecked</label>
                </div>
            </div>
          </div>
        

      </div>
    </div>
  </div>