  
  
  <div class="card mb-4 py-3 f-gris bold h5 ">
    <div class="card-body">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              No fumar
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Che in Chec in
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Se aceptan mascotas
            </label>
        </div>
    </div>
</div> 

  <div class="my-2"></div>
  <a href="#" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
      <i class="fas fa-check"></i>
    </span>
    <span class="text">Guardar Cambios</span>
  </a>