

<div class="card mb-4 py-3">
    <div class="card-header">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h4 class="bold">Premium Plaza Hotel</h4>
            <h5>ID:3242134</h5>
          </div>
          <div class="col">
            <div class="dropdown bold">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Editar alojamiento
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="alojamiento.html">Ajustes generales</a>
                <a class="dropdown-item" href="habitaciones.html">Habitaciones</a>
                <a class="dropdown-item" href="comentarios.html">Comentarios</a>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo1.jpg" class="rounded" width="100%">
            <p></p>
            <div class="card mb-4 f-gris">
                 <button type="button" class="btn btn-warning bold negro">Ver Habitación como Visitante</button>
            </div>
          </div>
          <div class="col-8">
          <p class="bold h5">
            El Panoramic Hotel es un moderno y elegante hotel de 4 estrellas,
            asomado al mar, ideal para unas vacaciones románticas y de gran encanto,
            en el mágico escenario de Taormina y del Mar de Sicilia.
          </p>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h4 class="bold">Premium Plaza Hotel</h4>
              <h5>ID:3242134</h5>
            </div>
            <div class="col">
              <div class="dropdown bold">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Editar alojamiento
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="alojamiento.html">Ajustes generales</a>
                  <a class="dropdown-item" href="habitaciones.html">Habitaciones</a>
                  <a class="dropdown-item" href="comentarios.html">Comentarios</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo2.jpg" class="rounded" width="100%">
            <p></p>
            <div class="card mb-4 f-gris">
                 <button type="button" class="btn btn-warning bold negro">Ver Habitación como Visitante</button>
            </div>
          </div>
          <div class="col-8">
            <p class="bold h5">
              El Panoramic Hotel es un moderno y elegante hotel de 4 estrellas,
              asomado al mar, ideal para unas vacaciones románticas y de gran encanto,
              en el mágico escenario de Taormina y del Mar de Sicilia.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-4 py-3">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h4 class="bold">Premium Plaza Hotel</h4>
              <h5>ID:3242134</h5>
            </div>
            <div class="col">
              <div class="dropdown bold">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Editar alojamiento
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="alojamiento.html">Ajustes generales</a>
                  <a class="dropdown-item" href="habitaciones.html">Habitaciones</a>
                  <a class="dropdown-item" href="comentarios.html">Comentarios</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo3.jpg" class="rounded" width="100%">
            <p></p>
            <div class="card mb-4 f-gris">
                 <button type="button" class="btn btn-warning bold negro">Ver Habitación como Visitante</button>
            </div>
          </div>
          <div class="col-8">
            <p class="bold h5">
              El Panoramic Hotel es un moderno y elegante hotel de 4 estrellas,
              asomado al mar, ideal para unas vacaciones románticas y de gran encanto,
              en el mágico escenario de Taormina y del Mar de Sicilia.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h4 class="bold">Premium Plaza Hotel</h4>
              <h5>ID:3242134</h5>
            </div>
            <div class="col">
              <div class="dropdown bold">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Editar alojamiento
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="alojamiento.html">Ajustes generales</a>
                  <a class="dropdown-item" href="habitaciones.html">Habitaciones</a>
                  <a class="dropdown-item" href="comentarios.html">Comentarios</a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo4.jpg" class="rounded" width="100%">
            <p></p>
            <div class="card mb-4 f-gris">
                 <button type="button" class="btn btn-warning bold negro">Ver Habitación como Visitante</button>
            </div>
          </div>
          <div class="col-8">

            <p class="bold h5">
              El Panoramic Hotel es un moderno y elegante hotel de 4 estrellas,
              asomado al mar, ideal para unas vacaciones románticas y de gran encanto,
              en el mágico escenario de Taormina y del Mar de Sicilia.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
    <div class="card-header">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h4 class="bold">Premium Plaza Hotel</h4>
            <h5>ID:3242134</h5>
          </div>
          <div class="col">
            <div class="dropdown bold">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Editar alojamiento
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="alojamiento.html">Ajustes generales</a>
                <a class="dropdown-item" href="habitaciones.html">Habitaciones</a>
                <a class="dropdown-item" href="comentarios.html">Comentarios</a>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo5.jpg" class="rounded" width="100%">
            <p></p>
            <div class="card mb-4 f-gris">
                 <button type="button" class="btn btn-warning bold negro">Ver Habitación como Visitante</button>
            </div>
          </div>
          <div class="col-8">
            <p class="bold h5">
              El Panoramic Hotel es un moderno y elegante hotel de 4 estrellas,
              asomado al mar, ideal para unas vacaciones románticas y de gran encanto,
              en el mágico escenario de Taormina y del Mar de Sicilia.
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  



  