

<div class="card mb-4 py-3">
    <div class="card-header">
      <h2>Premium Plaza Hotel</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo1.jpg" class="rounded" width="100%">
          </div>
          <div class="col-8">
          <div class="btn-group">
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Habitacion</i></a>
            <a class="btn btn-primary naranja" href="comentarios" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
      <div class="card-header">
        <h2>Premium Plaza Hotel</h2>
      </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo2.jpg" class="rounded" width="100%">
          </div>
          <div class="col-8">
          <div class="btn-group">
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Habitacion</i></a>
            <a class="btn btn-primary naranja" href="comentarios" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-4 py-3">
      <div class="card-header">
        <h2>Premium Plaza Hotel</h2>
      </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo3.jpg" class="rounded" width="100%">
          </div>
          <div class="col-8">
          <div class="btn-group">
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Habitacion</i></a>
            <a class="btn btn-primary naranja" href="comentarios" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
      <div class="card-header">
        <h2>Premium Plaza Hotel</h2>
      </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo4.jpg" class="rounded" width="100%">
          </div>
          <div class="col-8">

          <div class="btn-group">
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Habitacion</i></a>
            <a class="btn btn-primary naranja" href="comentarios" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
    <div class="card-header">
      <h2>Premium Plaza Hotel</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo5.jpg" class="rounded" width="100%">
          </div>
          <div class="col-8">
          <div class="btn-group">
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Habitacion</i></a>
            <a class="btn btn-primary naranja" href="comentarios" role="button"><i class="far fa-edit">Reseñas</i></a>
        
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  



  