

<div class="card mb-4 py-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo1.jpg" class="rounded" width="230px" height="150px">
          </div>
          <div class="col-8">
           <div><a class="h56 miclase">Premium Plaza Hotel</a></div>
           <div><i class="far fa-edit">
            
            En South Williamsburg, a solo unas cuadras tierra adentro del 
            East River, Marlo & Sons es un respiro rústico con buen vino, 
            buenos cócteles y excelentes bocadillos como ostras, queso local 
            y tortilla de papa. Pero hay más: ensaladas y sopas...

          </i></div>
          <div>
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Agregar Habitacion</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo2.jpg" class="rounded" width="230px" height="150px">
          </div>
          <div class="col-8">
           <div><a class="h56 miclase">Premium Plaza Hotel</a></div>
           <div><i class="far fa-edit">
            
            En South Williamsburg, a solo unas cuadras tierra adentro del 
            East River, Marlo & Sons es un respiro rústico con buen vino, 
            buenos cócteles y excelentes bocadillos como ostras, queso local 
            y tortilla de papa. Pero hay más: ensaladas y sopas...

          </i></div>
          <div>
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Agregar Habitacion</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-4 py-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo3.jpg" class="rounded" width="230px" height="150px">
          </div>
          <div class="col-8">
           <div><a class="h56 miclase">Premium Plaza Hotel</a></div>
           <div><i class="far fa-edit">
            
            En South Williamsburg, a solo unas cuadras tierra adentro del 
            East River, Marlo & Sons es un respiro rústico con buen vino, 
            buenos cócteles y excelentes bocadillos como ostras, queso local 
            y tortilla de papa. Pero hay más: ensaladas y sopas...

          </i></div>
          <div>
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Agregar Habitacion</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo4.jpg" class="rounded" width="230px" height="150px">
          </div>
          <div class="col-8">
           <div><a class="h56 miclase">Premium Plaza Hotel</a></div>
           <div><i class="far fa-edit">
            
            En South Williamsburg, a solo unas cuadras tierra adentro del 
            East River, Marlo & Sons es un respiro rústico con buen vino, 
            buenos cócteles y excelentes bocadillos como ostras, queso local 
            y tortilla de papa. Pero hay más: ensaladas y sopas...

          </i></div>
          <div>
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Agregar Habitacion</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4 py-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="img/alojo5.jpg" class="rounded" width="230px" height="150px">
          </div>
          <div class="col-8">
           <div><a class="h56 miclase">Premium Plaza Hotel</a></div>
           <div><i class="far fa-edit">
            
            En South Williamsburg, a solo unas cuadras tierra adentro del 
            East River, Marlo & Sons es un respiro rústico con buen vino, 
            buenos cócteles y excelentes bocadillos como ostras, queso local 
            y tortilla de papa. Pero hay más: ensaladas y sopas...

          </i></div>
          <div>
            <a class="btn btn-primary" href="alojamiento" role="button"><i class="far fa-edit">Editar</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Agregar Habitacion</i></a>
            <a class="btn btn-primary azul" href="habitaciones" role="button"><i class="far fa-edit">Reseñas</i></a>
          
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  



  